<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Sports Gallery"
	backgroundColor="rgba(102,0,0,1)"
	indexPageName="gall_sp.html"

>
  <image imageURL="images/img1.jpg"
	thumbURL="thumbs/img1.jpg"
	linkURL="images/img1.jpg"
	linkTarget="_blank"
	sourcePath="/Applications/XAMPP/xamppfiles/htdocs/projects/melange/gall/gall_tech/images/img1.jpg">
    <title><![CDATA[img1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img2.jpg"
	thumbURL="thumbs/img2.jpg"
	linkURL="images/img2.jpg"
	linkTarget="_blank"
	sourcePath="/Applications/XAMPP/xamppfiles/htdocs/projects/melange/gall/gall_tech/images/img2.jpg">
    <title><![CDATA[img2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img3.jpg"
	thumbURL="thumbs/img3.jpg"
	linkURL="images/img3.jpg"
	linkTarget="_blank"
	sourcePath="/Applications/XAMPP/xamppfiles/htdocs/projects/melange/gall/gall_tech/images/img3.jpg">
    <title><![CDATA[img3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/img4.jpg"
	thumbURL="thumbs/img4.jpg"
	linkURL="images/img4.jpg"
	linkTarget="_blank"
	sourcePath="/Applications/XAMPP/xamppfiles/htdocs/projects/melange/gall/gall_tech/images/img4.jpg">
    <title><![CDATA[img4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>